a{
    text-decoration: none;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.title .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-bottom: 80px;
}

.logo .digital_bit {
    width: 450px;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
}

.logo .wh_we {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    width: 340px;
    height: 200px;
    margin: 130px 0 0 50px;
}

.wh_we .watchword {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 370px;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.wh_we .tool_sp_a {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 360px;
    height: 200px;
    flex-direction: column;
}

.tool_sp_a .tools {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 350px;
    font-family: 'Ubuntu-Regular', sans-serif;
    font-style: normal;
}

.tools .line{
    width: 20px;
    height: 2px;
    background-color: darkviolet;
    margin-right: 15px;
}

.tool_sp_a .tools a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.tool_sp_a .tools a:hover {
    color: darkviolet;
}

.color1 {
    color: #44e2ee;
    margin-right: 10px;
}

.color2 {
    color: darkviolet;
}

.title img {
    width: 570px;
    height: 500px;
    margin-top: 40px;
}

.arrow_inf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    background-color: rgba(243, 243, 243, 0.51);
    cursor: pointer;
}

.arrow_inf:hover{
    background-color: rgba(227, 227, 227, 0.51);
}

.title2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.title3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: gray;
}
.title4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
}
.title5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: violet;
}

.item{
    scroll-snap-align: start;
}

/*!* Собственно сам слайдер *!*/
/*.slider{*/
/*    max-width: 80%;*/
/*    position: relative;*/

/*    height: 100vh;*/
/*    margin-bottom: 130px;*/
/*    margin: auto;*/
/*}*/
/*!* Картинка мастабируется по отношению к родительскому элементу *!*/
/*.slider .item img {*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*}*/

/*!* Кнопки вперед и назад *!*/
/*.slider .prev, .slider .next {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    top: 50%;*/
/*    width: auto;*/
/*    margin-top: -22px;*/
/*    padding: 16px;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    transition: 0.6s ease;*/
/*    border-radius: 0 3px 3px 0;*/
/*}*/


/*.slider .next {*/
/*    right: 0;*/
/*    border-radius: 3px 0 0 3px;*/
/*}*/


/*!* При наведении на кнопки добавляем фон кнопок *!*/

/*.slider .prev:hover,*/
/*.slider .next:hover {*/
/*    background-color: rgba(0, 0, 0, 0.8);*/
/*}*/


/*!* Заголовок слайда *!*/
/*.slideText {*/
/*    position: absolute;*/
/*    color: #fff;*/
/*    font-size: 35px;*/
/*    !* Выравнивание текста по горизонтали и по вертикали*!*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    !* Тень*!*/
/*    text-shadow: 1px 1px 1px #000, 0 0 1em #000;*/
/*}*/


/*!* Кружочки *!*/

/*.slider-dots {*/
/*  text-align: center;*/

/*}*/
/*.slider-dots_item{*/
/*    cursor: pointer;*/
/*    height: 12px;*/
/*    width: 12px;*/
/*    margin: 0 2px;*/
/*    background-color: #ddd;*/
/*    border-radius: 50%;*/
/*    display: inline-block;*/
/*    transition: background-color 0.6s ease;*/
/*}*/

/*.active,*/
/*.slider-dots_item:hover {*/
/*    background-color: #aaa;*/
/*}*/


/*!* Анимация слайдов *!*/

/*.slider .item {*/
/*    -webkit-animation-name: fade;*/
/*    -webkit-animation-duration: 1.5s;*/
/*    animation-name: fade;*/
/*    animation-duration: 1.5s;*/
/*}*/

/*@-webkit-keyframes fade {*/
/*    from {*/
/*        opacity: .4*/
/*    }*/
/*    to {*/
/*        opacity: 1*/
/*    }*/
/*}*/

/*@keyframes fade {*/
/*    from {*/
/*        opacity: .4*/
/*    }*/
/*    to {*/
/*        opacity: 1*/
/*    }*/
/*}*/












