<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="title">
    <div class="logo">
        <div class="digital_agency">
            <span class="color1">DIGITAL</span>
            <span class="color2">AGENCY</span>
        </div>
        <div class="smart_bit">
            <span class="color1">SMART</span>
            <span class="color2">BIT</span>
        </div>
        <div class="wh_we">
            <p>
                Комплекс интернет-технологий
                <br>
                для продвижения вашего бизнеса
            </p>
            МАРКЕТИНГ
            РАЗРАБОТКА САЙТОВ
            БРЕНДИНГ
            РЕКЛАМА
            ОПТИМИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ
            </span>
        </div>
    </div>
    <img src="../static/image/slider.png" alt="slider">
</div>
<div class="main_menu">

</div>
<div class="our_works">
    <div class="wrk_blocks" class="w1"></div>
    <div class="wrk_blocks" class="w2"></div>
    <div class="wrk_blocks" class="w3"></div>
    <div class="wrk_blocks" class="w4"></div>
    <div class="wrk_blocks" class="w5"></div>
    <div class="wrk_blocks" class="w6"></div>
    <div class="wrk_blocks" class="w7"></div>
    <div class="wrk_blocks" class="w8"></div>
    <div class="wrk_blocks" class="w9"></div>
    <div class="wrk_blocks" class="w10"></div>
    <div class="wrk_blocks" class="w11"></div>
    <div class="wrk_blocks" class="w12"></div>
    <div class="wrk_blocks" class="w9"></div>
    <div class="wrk_blocks" class="w10"></div>
    <div class="wrk_blocks" class="w11"></div>
    <div class="wrk_blocks" class="w12"></div>
</div>
</body>
</html>