<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="title">
    <div class="logo">
        <div class="digital_agency">
            <span class="color1">DIGITAL</span>
            <span class="color2">AGENCY</span>
        </div>
        <div class="smart_bit">
            <span class="color1">SMART</span>
            <span class="color2">BIT</span>
        </div>
        <div class="wh_we">
            <span class="watchword">
                Комплекс интернет-технологий
                <br>
                для продвижения вашего бизнеса
            </span>
            <div class="tool_sp_a">
                <span class="tools">
                    <a href="toolkit.html">МАРКЕТИНГ</a>
                </span>
                <span class="tools">
                    <a href="toolkit.html">РАЗРАБОТКА САЙТОВ</a>
                </span>
                <span class="tools">
                    <a href="toolkit.html">БРЕНДИНГ</a>
                </span>
                <span class="tools">
                    <a href="toolkit.html">РЕКЛАМА</a>
                </span>
                <span class="tools">
                    <a href="toolkit.html ">ОПТИМИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ</a>
                </span>
            </div>
            </span>
        </div>
    </div>
    <img src="../static/image/slider.png" alt="slider">
</div>
</body>
</html>