<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/tool_css.css">
</head>
<body>
<div class="promotion_tools">
    <div class="market">
        <span>МАРКЕТИНГ</span>
        <div class="market_descript_review"></div>
    </div>
    <div class="web_develop">
        <span>РАЗРАБОТКА САЙТОВ</span>
        <div class="web_descript_review"></div>
    </div>
    <div class="brand">
        <span>БРЕНДИНГ</span>
        <div class="brand_descript_review"></div>
    </div>
    <div class="advert">
        <span>РЕКЛАМА</span>
        <div class="advert_descript_review"></div>
    </div>
    <div class="optimiz_busprocess">
        <span>ОПТИМИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ</span>
        <div class="bus_descript_review"></div>
    </div>
</div>
</body>
</html>