<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/tool_css.css">
</head>
<body>
<div class="promotion_tools">
    <div class="market item">
        <span>МАРКЕТИНГ</span>
        <div class="market_descript_review"></div>
    </div>
    <div class="web_develop item">
        <span>РАЗРАБОТКА САЙТОВ</span>
        <div class="web_descript_review"></div>
    </div>
    <div class="brand item">
        <span>БРЕНДИНГ</span>
        <div class="brand_descript_review"></div>
    </div>
    <div class="advert item">
        <span>РЕКЛАМА</span>
        <div class="advert_descript_review"></div>
    </div>
    <div class="optimiz_busprocess item">
        <span>ОПТИМИЗАЦИЯ БИЗНЕС-ПРОЦЕССОВ</span>
        <div class="bus_descript_review"></div>
    </div>
</div>

<!--<div class="slider-dots">-->
<!--	<span class="slider-dots_item" onclick="currentSlide(1)"></span>-->
<!--  	<span class="slider-dots_item" onclick="currentSlide(2)"></span>-->
<!--  	<span class="slider-dots_item" onclick="currentSlide(3)"></span>-->
<!--</div>-->

<script src="/scripts/script.js"></script>
</body>
</html>